body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spacer {
  height: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.title{
  text-align: left;
  margin-left: 1em;
}

.weather-box{
  background-color: rgb(200,200,200);
  border-width: 4px;
  border-color: black;
  border-radius: 5px;
  padding: 2em;
  margin: 1em;
}

.clothing-box{
  background-color: rgb(200,200,200,.5);
  border-width: 4px;
  border-color: black;
  border-radius: 5px;
  padding: 2em;
  margin: 1em;
}

.big-container{
  /* background-color: #FFC3BA; */
  background-image: url("./img/clouds.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;
  /* background-image: contain; */
}

.hot-container{
  background-image: url("./gifs/sunny.webp");
  background-size: cover;
  width: 100%;
  height: 800px;
  /* background-image: contain; */
}

.warm-container{
  background-image: url("./gifs/field.gif");
  background-size: cover;
  width: 100%;
  height: 800px;
  /* background-image: contain; */
}

.cool-container{
  background-image: url("./gifs/forest.gif");
  background-size: cover;
  width: 100%;
  height: 800px;
  /* background-image: contain; */
}

.cold-container{
  /* background-color: rgb(50, 150, 250); */
  background-image: url("./gifs/snow.gif");
  background-size: cover;
  width: 100%;
  height: 800px;
  /* background-image: contain; */
}


#weather-container{
  margin-left: 0;
  margin-right: 0;
}

.clothing-image img{
  height: 250px;
}

.loading-container{
  height: 1000px;
  width: 100%;
  background-image: url("./gifs/stormy.webp");
  background-size: cover;
}

.loading-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
}

.sub-container{
  background-color: rgba(155, 155, 155, .75);
  border-radius: 10px;
  padding: 50px;
}

.login-container{
  background-color: rgba(155, 155, 155, .75);
  border-radius: 10px;
  padding: 25px 35px 25px 35px;
}

.color-main{
  background-color: #809DCC;
  border-color: #809DCC;
  padding: 15px;
}

.color-main-two{
  background-color: #798FB2;
  border-color: #798FB2;
}